<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809750426291-9qfl3fn04atpr2p865916l43gk34ut18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809750426291-9qfl3fn04atpr2p865916l43gk34ut18</string>
	<key>API_KEY</key>
	<string>AIzaSyBpCBqHtrQ8sVRs7UFoGXdyMU7Z8wkMrBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>809750426291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsonKim.socialLogin</string>
	<key>PROJECT_ID</key>
	<string>appfirebase-656ab</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebase-656ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809750426291:ios:28004def6ada406ab9b6c6</string>
	<key>DATABASE_URL</key>
	<string>https://appfirebase-656ab-de46f.firebaseio.com</string>
</dict>
</plist>